.Alabel {
    height: 100%;
    width: 100%;
    position: relative; /* Position to absolute for centering */
    text-align: center;
}

.Alabel .text-wrapperA {
    width: 100%;
    height: 100%;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
    white-space: nowrap;
    z-index: 100;
}
