.element4 {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 46px;
    height: 65px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
}

.element4 .text4 {
    color: #000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    align-self: center;
    justify-self: center;
}
