.cardBox {
    /* outline: solid black; */
    border-radius: 5px;
    height: 89px;
    overflow: hidden;
    width: 58px;
    transform-style: preserve-3d;
}

.cardBox .text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    left: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 16px;
}

.card .div {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    right: 0;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    bottom: 0;
    transform: rotate(-180deg);
    white-space: nowrap;
    width: 16px;
}

.cardBox .group {
    height: 89px;
    left: 0;
    position: absolute;
    width: 58px;
}
